<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ data.personal.first_name }} {{ data.personal.last_name }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Aidan Pine - Personal Website">
    <meta name="og:title" content="Aidan Pine - Personal Website">
    <meta name="description" content="My name is Aidan Pine. I'm a settler of European ancestry born in Victoria, B.C. and I developed this site in order to bring together the various language revitalization and open-source software projects that I am involved in.">
    <meta name="og:description" content="My name is Aidan Pine. I'm a settler of European ancestry born in Victoria, B.C. and I developed this site in order to bring together the various language revitalization and open-source software projects that I am involved in.">
    <meta name="robots" content="index,follow">
    <meta name="og:image" content="/static/cv/images/cv.png">
    <meta name="og:url" content="https://aidanpine.ca">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary_large">
    <meta name="twitter:image:alt" content="Aidan Pine">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='cv/dist/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cv/dist/css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cv/css/custom.css') }}">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='cv/css/github-prettify-theme.css') }}">
    <script src="{{ url_for('static', filename='cv/js/site.js') }}"></script>


    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='cv/images/favicon.ico') }}" />

    <!-- Plausible Analytics -->
    <script defer data-domain="aidanpine.ca" src="https://plausible.io/js/script.js"></script>

</head>

<body class="code-snippets-visible">

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <section class="header">
            <h2 class="title">Aidan Pine</h2>
            <hr>

            <h5>Linguist & Developer</h5>

            <div class="value-props row">
                <!-- <div class="twelve columns value-prop">
          Linguist
        </div> -->
            </div>
        </section>

        <div class="navbar-spacer"></div>
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a class="navbar-link" href="#intro">About</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="#publications">Publications</a>
                    </li>
                    <!--
          <li class="navbar-item">
            <a class="navbar-link" href="#projects">Projects</a>
          </li>
          -->
                    <li class="navbar-item">
                        <a class="navbar-link" href="#presentations">Presentations</a>
                    </li>
                    <!-- <li class="navbar-item">
              <a class="navbar-link" href="#">Code</a>
            </li> -->
                    <li class="navbar-item">
                        <a class="navbar-link" href="#contact">Contact</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" href="{{ url_for( 'static', filename='cv/pdfs/cv-gen.pdf' ) }}">CV</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Hello -->
        <div class="docs-section" id="intro">

            <h6 id="greeting" class="docs-header">Hello!</h6>
            <div class="row">

                <div class="six columns">
                    <p>My name is Aidan Pine. I'm a settler of European ancestry born in Victoria, B.C. and I developed this
                        <a href="#site">site</a> in order to bring together the various language revitalization and open-source software projects that I am involved in.</p>
                    <p> I fell in love with language revitalization work as a way of combining my interests in language, linguistics, anti-colonial/decolonial methodologies, and computer science.
                    </p>
                    <p> I am a full-time researcher at the Canadian National Research Council, where I am currently technical lead for the <a href="https://nrc.canada.ca/en/research-development/research-collaboration/programs/speech-generation-indigenous-language-education"
                            target="_blank">Speech Generation for Indigenous Language Education</a> project. I am also the founder and lead developer of
                        <a href="//mothertongues.org" target="_blank">
              Mother Tongues</a>, and former technology consultant for the First Peoples' Cultural Council, and the University of British Columbia.
                    </p>
                    <!-- Mother Tongues has supported the development of around 30 digital dictionaries, including the
          <a href="https://firstvoices.com/content/apps/">First Voices</a> mobile apps. I have taught instructional workshops on developing dictionaries with Mother Tongues
          software at the University of British Columbia, the University of Florida, the National Institute for Japanese
          Language and Linguistics in Tokyo as well as an upcoming workshop at ICLDC 2019 at the Univeristy of Hawai'i. -->
                </div>
                <img class="bio six columns" src="{{ url_for( 'static', filename='cv/images/cv.png' ) }}" />
            </div>
            <!-- <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.getskeleton.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=151131931646052
   " scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:140px" allowTransparency="true"></iframe> -->
            <!-- <iframe src="http://ghbtns.com/github-btn.html?user=dhg&repo=Skeleton&type=watch&count=true
   " allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=dhg&repo=Skeleton&type=fork&count=true" allowtransparency="true
   " frameborder="0" scrolling="0" width="110" height="20"></iframe> -->
        </div>



        <!-- Publications -->
        <div class="docs-section" id="publications">
            <h6 class="docs-header">Publications</h6>
            <div class="row docs-example">
                <div class="twelve columns">
                    <ul>
                        {% for k, v in data.publications.items() | reverse %} {% for p in v | sort(attribute="order", reverse=True) %} {% if p.booktitle %}

                        <li>{% if p.url %}
                            <a href="{{ p.url }}" target="_blank">{{ p.title }}</a>{% else %}{{ p.title }}{% endif %}.
                            <em>{{p.booktitle}}</em>.
                            <br>{% for a in p.authors %} {% if a.last == 'Pine' or a.last == 'Gitksan Research Lab' %}
                            <strong>{{ a.last }},
                {% if a.first %}{{ a.first[0] }}.{%endif %}{% if not loop.last %},{% endif %}</strong> {% else %} {{ a.last }}, {% if a.first %} {{ a.first[0] }}.{% endif %}{% if not loop.last %},{% endif %} {% endif %} {%
                            endfor %} {{ k }}. {% if p.publisher %}{{p.publisher}}.{% endif %} </li>
                        {% elif p.conference %}
                        <li>{% if p.url %}
                            <a href="{{ p.url }}" target="_blank">{{ p.title }}</a>{% else %}{{ p.title }}{% endif %}. In proceedings of
                            <em>{{p.conference}}</em>.
                            <br>{% for a in p.authors %} {% if a.last == 'Pine' or a.last == 'Gitksan Research Lab' %}
                            <strong>{{ a.last }}, {% if a.first %}
                {{ a.first[0] }}.{%endif %}{% if not loop.last %},{% endif %}</strong> {% else %} {{ a.last }}, {% if a.first %}{{ a.first[0] }}.{% endif %}{% if not loop.last %},{% endif %} {% endif %} {% endfor %} {{ k }}.
                            {% if p.publisher %}{{p.publisher}}.{% endif %} </li>
                        {% else %}
                        <li>{% if p.url %}
                            <a href="{{ p.url }}" target="_blank">{{ p.title }}</a>{% else %}{{ p.title }}{% endif %}. In
                            <em>{{ p.type }}</em>.
                            <br>{% for a in p.authors %} {% if a.last == 'Pine' or a.last == 'Gitksan Research Lab' %}
                            <strong>{{ a.last }}, {% if a.first %}
                {{ a.first[0] }}.{%endif %}{% if not loop.last %},{% endif %}</strong> {% else %} {{ a.last }}, {% if a.first %}{{ a.first[0] }}.{% endif %}{% if not loop.last %},{% endif %} {% endif %} {% endfor %} {{ k }}.
                            {% if p.publisher %}{{p.publisher}}.{% endif %} </li>
                        {% endif %} {% endfor %} {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Presentations -->
        <div class="docs-section" id="presentations">
            <h6 class="docs-header">Presentations</h6>
            <p>Below are some guest lectures, workshops and other presentations I have given. The list is scrollable.</p>
            <div class="docs-example limit">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Location</th>
                            <th>Presenters</th>
                            <th>Type</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in data.presentations | reverse %}
                        <tr>
                            <td>{{ p.title }}</td>
                            <td>{{ p.audience }}
                                <br>
                                <strong>{{ p.location }}</strong>
                            </td>
                            <td>{% for pp in p.presenters %} {{ pp.last }}, {% if pp.first %} {{ pp.first[0] }}.{% endif %} {% if not loop.last %}
                                <br>{% endif %} {% endfor %}</td>
                            <td>{{ p.type.capitalize() }}</td>
                            <td>{{ p.year }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Projects -->
        <!--
    <div class="docs-section" id="projects">
      <h6 class="docs-header">Projects</h6>
      <p>Below are some of the various software projects I have been involved in.</p>
      <div class="docs-example">
        <div class='container projects'>
          {% for project in data.projects %}
          <div class='row project'>
            {% if 'links' in project %}
            {% if loop.index % 2 %}
            <div class='seven columns project__img'>
              <img src="{{ url_for( 'static', filename='cv/images/' + (project['title']|slug) + '.png' ) }}"></div>
            <div class='five columns project__text'>
              <h6><b>{{ project.title }}</b></h6>
              <p>{{ project.description }}</p>

              {% if project.links.keys() %}
              <h6>Links:</h6>
               <ul>
              {% for link in project.links.keys() %}
             <li><a href='{{ project.links[link] }}'>{{ link }}</a></li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if 'badges' in project %}
              {% for badge in project['badges'] %}
              <img src={{badge}}>
              {% endfor %}
              {% endif %}
            </div>
            {% else %}
            <div class='five columns project__text'>
              <h6><b>{{ project.title }}</b></h6>
              <p>{{ project.description }}</p>

              {% if project.links.keys() %}
              <h6>Links:</h6>
               <ul>
              {% for link in project.links.keys() %}
             <li><a href='{{ project.links[link] }}'>{{ link }}</a></li>
              {% endfor %}
              </ul>
              {% endif %}
              {% if 'badges' in project %}
              {% for badge in project['badges'] %}
              <img src={{badge}}>
              {% endfor %}
              {% endif %}
            </div>
            <div class='seven columns project__img'>
              <img src="{{ url_for( 'static', filename='cv/images/' + (project['title']|slug) + '.png' ) }}"></div>
            {% endif %}
            {% else %}
            <div class='four columns project__title'>
              <h6><b>{{ project.title }}</b></h6>
              {% if 'badges' in project %}
              {% for badge in project['badges'] %}
              <img src=badge>
              {% endfor %}
              {% endif %}
            </div>
            <div class='eight columns project__text'>
              <p>{{ project.description }}</p>
            </div>
            {% endif %}

          </div>
          {% endfor %}
        </div>

      </div>

    </div>
    -->
        <!-- This site -->
        <div class="docs-section" id="site">
            <div class="row">
                <div class="twelve columns">
                    <h6 class="docs-header">This site</h6>
                    <p>There were a lot of really cool CV templates and things out there, but I ended up building my own because I wanted something that was:
                        <br>
                        <br> a) static, so I could host for free on GitHub Pages
                        <br> b) able to generate LaTeX
                        <br> c) pulled from simple markup like yaml</p>
                    <p>So, I wrote my CV data in yaml, and use Flask, Frozen-Flask, Jinja2, Skeleton and Fabric to generate a static site and LaTeX CV. I host for free on GitHub, use Cloudflare for free SSL and Mailgun for free email. I slapped an MIT license
                        on the
                        <a href="//github.com/roedoejet/cv" target="_blank">code</a>, so if you think it would be useful to you, go for it!</p>
                    <p>Update: Waaaay back in the day, like 3 years ago (🤦) <a href='https://jamstack.org/'>Jamstack</a> was really only just starting to gain popularity, and so building a custom static-site generator like this seemed reasonable. If I was
                        starting now, I probably wouldn't build this site this way. I'd probably use something like <a href="https://gohugo.io/">Hugo</a> instead.</p>
                </div>
            </div>
        </div>

        <!-- <div class="docs-section" id="code">
      <h6 class="docs-header">Code</h6>
      <p>I'm interested in all manner of open source language revitalization software.
      </p>
      <p>Here are some open-source web and software projects I have been a part of.</p>
      {% for c in data.code %}
      <iframe src="{{ c.count }}" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      {% endfor %}

    </div> -->

        <!-- Contact -->
        <div class="docs-section" id="contact">

            <div class="row">
                <div class="six columns">
                    <h6 class="docs-header">Contact</h6>
                    <p> {{ data.personal.email }}</p>
                    <p> GitHub: {{ data.personal.github }}</p>

                </div>
            </div>
        </div>

        <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>


<script>
    var now = new Date()
    var hour = now.getHours()
    if (hour >= 3 && hour <= 11) {
        document.getElementById('greeting').innerHTML = "Good morning!"
    } else if (hour >= 12 && hour <= 16) {
        document.getElementById('greeting').innerHTML = "Good afternoon!"
    } else {
        document.getElementById('greeting').innerHTML = "Good evening!"
    }
</script>

</html>